/* You can add global styles to this file, and also import other style files */
$white: #FFFFFF;
$black: #000;
$coral: #FF5D54;
$midnight: #02122C;
$teal: #00B7A4;
$lightgrey: #EDEDED;
$grey: #d5d5d5;
$burgundy: #85000c;
$mustard: #DDAA00;
$darkgrey: #454242;

.color-coral {
    background-color: $coral;
}
.color-white {
    background-color: $white;
}
.color-black {
    background-color: $black;
}
@font-face {
  font-family: 'WorkSans-Light';
  src:  url('../src/assets/fonts/WorkSans-Light.ttf') format('ttf')
}
@font-face {
  font-family: 'WorkSans-Medium';
  src:  url('../src/assets/fonts/WorkSans-Medium.ttf') format('ttf')
}
$font-main: 'WorkSansLight', sans-serif;
body{
    font-family: $font-main;
}

.f-20{
    font-size: 20px;
    line-height: 22px;
}
.f-22{
    font-size: 22px;
    line-height: 22px;
}
.f-24{
    font-size: 24px;
    line-height: 22px;
}
.f-28{
    font-size: 28px;
    line-height: 22px;
}
.f-32{
    font-size: 32px;
    line-height: 22px;
}
.f-18{
    font-size: 18px;
    line-height: 20px;
}
.f-16{
    font-size: 16px;
    line-height: 18px;
}
.cursor-pointer{
    cursor: pointer;
}

$small: 767px;